html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px; /* bottom = footer height */
  padding: 0px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow:hidden;
}

@import url('http://getbootstrap.com/dist/css/bootstrap.css');


.container {
    margin-top: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }