
      <!-- Control Sidebar -->

      <div class="control-sidebar-bg">SIDEBAR</div>
      
      <script src="{{ url_for('static', filename='dist/js/adminlte.min.js') }}"></script>
    
    
    <footer class="main-footer">
          
            <!-- To the right -->
    <div class="pull-right hidden-xs">
        Security Dashboard
    </div>
    <!-- Default to the left -->
   <strong>Copyleft 2017 </strong>NO rights reserved.
      </footer>
    </div><!-- ./wrapper -->
    
    <!--
    Proudly taken in charge and evolved by Andrea Fortuna
    https://andreafortuna.org
    andrea@andreafortuna.org
    -->
    
  </body>
</html>
