<!DOCTYPE html>
{% include 'header.html' %}
{% include 'sidebar.html' %}
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">

				<!-- Main content -->
				<section class="content">
					<div class="fetch-tweet">
					<form>
						<div class="form-group">
							<label for="profile"> Choose Profile: </label>
							<select name="profile" id="profile">
								{% for p in profiles %}
										<option value="{{p.name}}" {% if p.name==profile.name %} selected {% endif %}> {{ p.name }}</option>
								{% endfor %}
							</select>
						<input type="button" class="btn btn-primary" value="Fetch tweets" onclick="fetchTweets()" />      
						</div>
					</form>
				</div>
					{% if profile %} 
							<h3 class="align-center"> Showing tweets for {{ profile.name }} </h3>
					{% endif %}
					<table id="example2" class="display" cellspacing='0' width='100%'>
							<thead>
									<tr>
											<th>Tweet</th>
											<th>Date</th>
											<th>Cve</th>
											<th>Score</th>
											<th>Url</th>
									</tr>
							</thead>
							<tbody>
									{% for y in tweets %}
								{% if (y.cve == '') %}
								 
									<tr>
											<td>{{ y.tweet }}</td>            
											<td>{{ y.date }}</td>
											<td>{{ y.cve }}</td>
											<td>{{ y.score.split(' ', 1)[1]|replace('SS', '') }}</td>
									<td><a href="{{ y.url }}"> {{ y.url }} </a></td>
									</tr>
								
								{% else %}
								
								<tr>
											<td>{{ y.tweet }}</td>            
											<td>{{ y.date }}</td>
											<td>{{ y.cve }}</td>
											<td>{{ y.score }}</td>
									<td><a href="{{ y.url }}"> {{ y.url }} </a></td>
									</tr>
								
								{% endif %}
									{% endfor %} 
			
									</tr>
			
							</tbody>
			
					</table>
				</section><!-- /.content -->
			</div><!-- /.content-wrapper -->
	   {% include 'footer.html' %} 