<!DOCTYPE html>
{% include 'header.html' %}
{% include 'sidebar.html' %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <table id="example" class="display" cellspacing='0' width='100%'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>CVE</th>
                        <th>Score</th>
                        <th>Source</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vuln in vulns %}
                    <tr>
                    {% set mylist = vuln.name.split(',') %}
                    {% if vuln.source == 'securityfocus' or vuln.source == 'fulldisclosure'  %}         
                        <td><a href=http://{{ mylist[1][9:-2] }}  target="_blank">{{ mylist[0][2:-1] }}</td>            
                        <td>{{ vuln.date }}</td>
                        <td>{{ vuln.my_cve }}</td>
                        <td>{{ vuln.score }}</td>
                        <td>{{ vuln.source }}</td>
                    {% else %}         
                        <td><a href=https://{{ mylist[1][9:-2] }}  target="_blank">{{ mylist[0][2:-1] }}</td>            
                        <td>{{ vuln.date }}</td>
                        <td>{{ vuln.my_cve }}</td>
                        <td>{{ vuln.score }}</td>
                        <td>{{ vuln.source }}</td>
                    {% endif %} 
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

{% include 'footer.html' %} 