<!DOCTYPE html>
{% include 'header.html' %}
{% include 'sidebar.html' %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <table id="example" class="display" cellspacing='0' width='100%'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>CVE</th>
                        <th>Score</th>
                        <th>Source</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vuln in vulns %}
                    <tr>
                    <td><a href={{ vuln.name[1]}}  target="_blank">{{vuln.name[0] }}</td>     
                    <td>{{ vuln.date }}</td>
                    <td>{{ vuln.cve }}</td>
                    <td>{{ vuln.score }}</td>
                    <td>{{ vuln.source }}</td>
                    
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

{% include 'footer.html' %} 