      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
              <img src="{{ url_for('static', filename='dist/img/avatar.png') }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>admin</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
            
 
            
          </div>
      <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Crawler Status</li>
      <!-- Optionally, you can add icons to the links -->
      <li><a href="#"><i class="fa fa-twitter"></i> <span>Crawled from Socials: 1000</span></a></li>
      <li><a href="#"><i class="fa fa-globe"></i> <span>Crawled from Web: 1000</span></a></li>
      <li class="header">Telegram BOT Status</li>
      <li><a href="#"><i class="fa fa-telegram"></i> <span>Subscribers: xxx</span></a></li>
      
    </ul>
        </section>
        <!-- /.sidebar -->
      </aside>