<!DOCTYPE html>
{% include 'header.html' %}
{% include 'sidebar.html' %}
<script>
      $(document).ready(function () {
        $('#example').DataTable({
          "retrieve": 'true',
          })
      });
    </script>
    
    <script>
      function showDiv(id) {
   document.getElementById(id).style.display = "block";
}
    </script>
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          
          <div class="login-box">
              <div class="login-box-body">
                <p class="login-box-msg">Add New Technology</p>

                <form action="/technologies" method="POST">
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Technology Name" name="technology_name" value="" required>
                    <span class="glyphicon glyphicon-cog form-control-feedback"></span>
                  </div>
                 
                  <div class="row">
                    <div class="col-xs-6">
                      <input type="submit" class="btn btn-primary btn-block btn-flat" value="Save Technology">
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <table id="example" class="display"  cellspacing='0' width='100%'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for technology in technologies %}
                    <tr>
                        <td> {{ technology.name }}
                          <div id="myDiv_{{technology.id}}" style="display:none;" class="answer_list" >
                            <input type="input" name="answer" id="techid_{{technology.id}}" value="{{technology.name}}"/>
                            <input id="clickMe" type="button" value="Update" onclick="editTechnology({{ technology.id }}, '{{ technology.name }}');" />
                          </div>
                          
                      </td>
                      
                        <td>
                            <a class="pointer" title="Edit profile" onclick="showDiv(
                            'myDiv_{{technology.id}}');"><span class="glyphicon glyphicon-pencil"></span></a> &emsp;
                            <a class="pointer" title="Delete profile" onclick="deleteTechnology({{ technology.id }})"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      
        <script type="text/javascript">
      function deleteTechnologies(profileId) {
        if (confirm('Are you sure you want to delete this technology?')) {
          $.ajax({
            url: '/technologies/' + profileId ,
            type: 'DELETE',
            success: function(result) {
                location.reload()
            }
          })
        }
      }
    
      function editTechnology(technologyId, technologyName) {
        
        var technologyname = document.getElementById("techid_"+technologyId).value;
        
        if (technologyname) {
          $.ajax({
            url: '/technologies/' + technologyId ,
            type: 'PUT',
            data: {
              technology_name: technologyname
            },
            success: function(result) {
                location.reload()
            }
          })
        }
      }
      function fetchTweets(profileName) {
        location.pathname = '/tweets/' + profileName 
      }
    </script> 
      
      
   {% include 'footer.html' %} 